@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Source+Code+Pro:wght@400;700&family=Zen+Loop&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Otomanopee One', sans-serif, 'Source Code Pro', monospace, 'Zen Loop', cursive;
    background: linear-gradient(45deg, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background-repeat: no-repeat;
}