.header {
    background: linear-gradient(to right, #2c539e 10%, #fff547 17%, #2c539e 25%, #fff547 49%, #2c539e 80%, #fff547 86%, #2c539e 94%);
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.headerImg img {
    height: 60px;
    padding-left: 50px;
    padding-top: 15px;
}

.headerA a {
    display: flex;
    padding-right: 50px;
    font-size: 1.5rem;
    color: white;
}