.container-Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container-Search img {
    width: 100hv;
    height: 35vw;
    margin-bottom: -140px;
}

.search {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.input-Search {
    width: inherit;
    border-radius: 15px;
    height: 40px;
    padding-left: 10px;
}

.buttons-Search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: inherit;
}

.title-Search {
    color: white;
}

.button-Search {
    width: 100px;
    height: 30px;
}

.button-Search-all {
    width: 150px;
    height: 30px;
}